@import url('/src/assets/css/style.css');
@import url('/src/assets/css/elegant-icons.css');
@import url('/src/assets/css/font-awesome.min.css');
@import url('/src/assets/css/magnific-popup.css');
@import url('/src/assets/css/nice-select.css');
@import url('/src/assets/css/owl.carousel.min.css');
@import url('/src/assets/css/slicknav.min.css');
@import url('/src/assets/css/bootstrap.min.css');


* {
    font-family: "Nunito Sans", sans-serif;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
    appearance: none;
  }
  
  option {
    padding: 5px 10px;
    margin: 2px;
    font-size: 16px;
    background-color: #fff;
    color: #0d0d0d;
    font-weight: bold;
  
    &:hover {
      background-color: #ccc;
    }
  }




.select-filter{
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.rating i {
    padding: 5px;
}