<div class="product__item" *ngFor="let item of data">
    <div class="product__item__pic set-bg">
        <img src="{{item.imageUrl}}" alt="Sneaker">
        <span class="label">New</span>
        <!-- <ul class="product__hover">
            <li><a href="#"><img src="./assets/img/icon/heart.png" alt=""></a></li>
            <li><a href="#"><img src="./assets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
            <li><a href="#"><img src="./assets/img/icon/search.png" alt=""></a></li>
        </ul> -->
    </div>
    <div class="product__item__text">
        <h6>{{item.productName}}</h6>
        <a href="#" class="add-cart">+ Add To Cart</a>
        <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <h1>{{item.description}}</h1>
        <h5>{{item.price}}</h5>
        <div class="product__color__select">
            <label for="pc-1">
                <input type="radio" id="pc-1">
            </label>
            <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
            </label>
            <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
            </label>
        </div>
    </div>
</div>